API_HOSTNAME='http://localhost:5380' # The address hosting (or will host) the API endpoint. 'http://localhost:5380' by default.
ADMIN_USER='admin'                   # The default admin user name. This is `admin` by default.
API_TOKEN_NAME='Automation'          # Name given to the token. Doesn't really matter. Can view tokens by name in UI or API (but not their values)
DNS_ZONE='local.example.com'         # The zone to create and manage for your network
DNS_SERVER_NAME='dns1'               # The name of the DNS server and DNS record to create in the DNS_ZONE.
DNS_HOST_IP='192.168.0.6'            # This is usually the IP address assigned to the docker HOST.
DHCP_ENABLED='false'                 # Enabled DHCP service. If set, changes network_mode to 'host' and unsets SYS_CTLS
EXPORT_API_TOKEN='false'             # Adds/Updates .profile with an 'export TECHNITIUM_API_TOKEN=xxx' statement
DNS_SECONDARY='false'                # Configures as a secondary DNS server. Skips configuring zones.

# DHCP Settings (Required if DHCP_ENABLED=true)
DHCP_SCOPE_NAME='local.example.com'
DHCP_ASSIGNMENT_RANGE='192.168.0.1|192.168.1.254'
DHCP_SUBNET_MASK='255.255.254.0'
DHCP_ROUTER_ADDRESS='192.168.0.1'
DHCP_EXCLUSION_RANGE='' # Set this to exclude addresses from being assigned from this range. Format: {startingIp}|{endingIP} ex: 192.168.0.1|192.168.0.255
DHCP_LEASE_TIME_DAYS=1
DHCP_LEASE_TIME_HOURS=0   # Must be between 0 and 23
DHCP_LEASE_TIME_MINUTES=0 # Must be between 0 and 59
DHCP_ALLOW_DNS_UPDATES='true'
DHCP_DNS_TTL=900
DHCP_BOOT_FILE_NAME=''
DHCP_DOMAIN_SEARCH_LIST=''
DHCP_IGNORE_CLIENT_IDENTIFIER_OPTION='true'
DHCP_RESERVED_LEASES='myrouter|17:84:26:65:a4:b9|192.168.0.1|Router MAC address'