HOST_SERVER_PORT=8000  # The host port to bind the answer service to.
SERVER_PORT=8000       # The port the host port is mapped to. This is the port the answer service is listening on inside the container

# Public SSH Keys. One key per line. Required to be set unless pub key files are loaded into the host's SSH_KEYS_DIR volume ahead of time.
SSH_ROOT_PUBLIC_KEYS='ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILVVtSiLWEgtM0zVt9c1caQHnUbH+mKHsK1c8M2c6q+S root'
# The pre-hashed password for the root user.
# Can be generated using the mkpasswd tool. Must be set.
ROOT_PASSWORD_HASHED='$5$sAltGoEsHerE.2$PaSsWorDHaShIsHERE'

# Optional comma delimited list of answer files in the environments/answers directory 
# to publish to the docker image under /opt/proxmox/answer-server/answer.
ANSWER_FILENAMES='example.85:DC:6C:AB:BE:31.toml'

# Optional when set to true, the service will return 404s for unmatched MAC addresses
# DEFAULT_ANSWER_DISABLED="TRUE"

# Default Paths
SSH_KEYS_DIR=/opt/proxmox/answer-server/mnt/ssh-config